<div class="container-fluid">
  <div class="offcanvas offcanvas-start" data-mdb-scroll="true" data-mdb-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
        <a class="navbar-brand mt-2 ms-5 mt-lg-0 btn" href="" type="button" data-mdb-toggle="offcanvas" data-mdb-target="#offcanvasScrolling"   aria-controls="offcanvasScrolling">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"  height="35" alt="MDB Logo"/><span class="">LOTUS HOSPITAL</span></a>
      </h5>
      <button type="button" class="btn-close text-reset" data-mdb-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- <div class="nav"> -->
        <!-- <div class="navHeader">
          <a class="navbar-brand mt-2 ms-5 mt-lg-0 btn" href="" type="button" data-mdb-toggle="offcanvas" data-mdb-target="#offcanvasScrolling"   aria-controls="offcanvasScrolling">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"  height="35" alt="MDB Logo"/><span class="">LOTUS HOSPITAL</span></a>
        </div> -->
        <div class="navLinks">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Transactions</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Available Goods</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="navFooter">
            <a href="#">Logout</a>
        </div>
    <!-- </div> -->
    </div>
  </div>
</div>
