.nav-link{
  /* color: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) !important; linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)*/
  color: #b44593  !important;
  color: #ee7724 !important;
}
.nav-link:hover{
  color: #ee7724 !important;
  color: #b44593  !important;
}
.navbar-brand{
  font-size: 13px;
  color: #ee7724 !important;
}
