<div class="p-3">
  <div class="w-75 m-auto">
    <h2 class="text-center">Our Medical Services</h2>
    <p class="text-center">Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-stethoscope"></i>
            <h3 class="mt-2">Primary Care</h3>
          </div>
          <div class="card-text">
            <p>Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          </div>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-truck-medical"></i>
            <h3 class="mt-2">Emergency Clinic</h3>
          </div>
          <div class="card-text">
            <p>Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          </div>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-lungs"></i>
            <h3 class="mt-2">Lungs Transplant</h3>
          </div>
          <div class="card-text">
            <p>Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          </div>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-laptop-medical"></i>
            <h3 class="mt-2">Precise Diagnosis</h3>
          </div>
          <div class="card-text">
            <p>Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          </div>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-kit-medical"></i>
            <h3 class="mt-2">General Surgery</h3>
          </div>
          <div class="card-text">
            <p>Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          </div>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-solid fa-hand-holding-medical"></i>
            <h3 class="mt-2">Surgery</h3>
          </div>
          <p class="card-text">Lotus hospital is the voice of unique approach in health care today, one of that puts the patients at the center with plans and clinical teams collaboration to improve health outcomes and reduce costs.</p>
          <button type="button" class="btn btn-primary gradient-custom-2">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>
