h2{
  /* color: #ee7724 !important; */
  color: #d8363a !important;
  font-weight: bolder;
}
.fa-solid{
  /* color: #ee7724 !important; */
   color: #d8363a !important;
  font-weight: bolder;
  font-size: 25px;
}
.card-title h3{
  /* color: #ee7724 !important; */
  color: #d8363a !important;
  font-weight: bolder;
}
.card-text p{
  text-align: justify;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  color: white;
  }
.btn-outline-danger:hover{
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  color: white;
  outline-offset: none;
  border: none;
}

@media (max-width: 700px) {
  .w-75{
    width: 100% !important;
  }

  .w-75 p{
    font-size: 10px;
  }
  .row{
    flex-direction: column;
  }
  /* .col-4{
    width: 100% !important;


  } */
}
