/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input{
  border-color: #EC7225 !important;
  border-bottom-color: #EC7225 !important;
  /* #dd3675, #b44593 */
}
