<div class="container p-3">
  <div class="card w-100 p-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>Need emergency advice from our Doctor?</p>
          <h1 class="">Request a call Back Today Now!</h1>
          <p>We will make a single attempt to contact you from a with held number usually within 24 hours of your
            request</p>
          <div class="d-flex imgs mt-5">
            <div class="d-flex">
              <img src="assets/nursing-leadership-having-an-ethical-discussion.jpg" class="rounded-circle" alt=""
                style="width: 45px; height: 45px" />
              <img src="assets/practical-nurse.jpg" class="rounded-circle" alt=""
                style="width: 45px; height: 45px; margin-left: -10px" />
              <img src="assets/Surgery-Nurse-Featured.png" class="rounded-circle" alt=""
                style="width: 45px; height: 45px; margin-left: -10px" />
            </div>
            <p class="ms-3 fs-6">The quickest way to get in contact is to telephone number +(234) 0839 187 401</p>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Your Name" class="form-control mb-3">
          <input type="text" placeholder="Mobile Number" class="form-control mb-3">
          <input type="text" placeholder="Your State" class="form-control mb-3">
          <button class="btn gradient-custom-2 w-100">Request Now</button>
          <div class="d-flex">
            <input type="checkbox" class="check-box">
            <label class="mt-3 ms-3">I have paid and accept the <span>Privacy Policy</span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 mt-3">
    <p class="text-center">Need a Doctor for Check-up?</p>
    <h1 class="text-center">Just make an appointment and you're done!</h1>
    <button class="btn gradient-custom-2 get">Get an appointment <i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
